<footer>
  <div class="wrapper">

      <img class="profile-photo" src="/img/terrill.jpg"/>

        <h2 class="footer-title">{{ site.title }}</h2>
        <p class="text">{{ site.description }}</p>
       
        <a class="icon github" href="https://github.com/{{ site.github_username }}"></a>
        <a class="icon twitter" href="https://twitter.com/{{ site.twitter_username }}"></a>
        <a class="icon rss" href="{{ "/feed.xml" | prepend: site.baseurl }}"></a>
        <a class="icon email" href="/about/#contact"></a>
        
    </div>
  </div>
</footer>
