{% if page.nav == 'blog' %}
    {% assign navblog = 'current' %}
{% elsif page.nav == 'about' %}
    {% assign navabout = 'current' %}
{% elsif page.nav == 'illustrations' %}
    {% assign navillus = 'current' %}
{% else %}
    {% assign navproj = 'current' %}
{% endif %}
<header class="header">
  <div class="wrapper">
    <a class="logo" href="{{ site.baseurl }}/">{{ site.title }}</a>
    <nav>
      <a id="blog-link" class="nav-link {{navblog}}" href="/">Blog</a>
      <a id="about-link" class="nav-link {{navabout}}" href="/about/">About</a>
      <a id="proj-link" class="nav-link {{navproj}}" href="/projects/">Projects</a>
      <a id="illu-link" class="nav-link {{navillus}} last" href="/illustrations/">Illustrations</a>
    </nav>
  </div>
</header>
