
/*------- Illustrations ---- */


.block-page {
    padding: 1%;
    }

.illustration {
    width: 240px;
    height: 200px;
    float: left;
    display: block;
    margin: 1%;
    font-size: .8em;
    background-position: center center;
    background-size: cover;

    -webkit-transition: width .2s linear, height .2s linear;
       -moz-transition: width .2s linear, height .2s linear;
            transition: width .2s linear, height .2s linear;
    
    -webkit-box-sizing:border-box;
       -moz-box-sizing:border-box;
            box-sizing:border-box;
}


@media all and (max-width: 599px) {
    .illustration {
        width: 98%;
        height: 130px;
        display: block;
        background-position: center center;
    }
}

@media all and (min-width: 600px)  {
    .med-two-two {
        width: 62%;
        height: 46%;
    }
    .med-one-one {
        width: 34%;
        height: 21.5%;
    }
    .med-two-one {
        width: 34%;
        height: 46%;
    }
    .med-three-two {
        width: 98%;
        height: 46%;
    }
    .med-three-four {
        width: 98%;
        height: 98%;
    }
    .med-two-four {
        width: 62%;
        height: 97%;
    }
    .med-one-four {
        width: 31%;
        height: 97%;
    }
}
