
/* --------------- MENU BEHAVIOUR -------------- */

#app ,
#menu {
    position: absolute;
    top: 0;
    left: 0;
    }

    #app {
        -webkit-transition: -webkit-transform 0.65s ease-out;
           -moz-transition:    -moz-transform 0.65s ease-out;
                transition:         transform 0.65s ease-out;
        }
        .show-menu #app {
            -webkit-transform: translate3D( -400px, 0, 0 );
               -moz-transform: translate3D( -400px, 0, 0 );
                    transform: translate3D( -400px, 0, 0 );
            box-shadow: 1px 0 2px rgba( 0, 0, 0, .3 );
            }   

    #menu {
        top: 0;
        left: auto;
        right: 0;
        width: 400px;
        height: 100%;
        background: #e5e5e5;        
        -webkit-perspective-origin: 0% center;
           -moz-perspective-origin: 0% center;
                perspective-origin: 0% center;

        -webkit-transform-origin: 0% center;
           -moz-transform-origin: 0% center;
                transform-origin: 0% center;
        
        -webkit-transition: -webkit-transform 0.5s ease-in;
           -moz-transition:    -moz-transform 0.5s ease-in;
                transition:         transform 0.5s ease-in;
        
        -webkit-transform: perspective(3000) rotateY( 30deg );
           -moz-transform: perspective(3000) rotateY( 30deg );
                transform: perspective(3000) rotateY( 30deg );
        }        
        .show-menu #menu {
            -webkit-transform: perspective(3000) rotateY( 0deg );
               -moz-transform: perspective(3000) rotateY( 0deg );
                    transform: perspective(3000) rotateY( 0deg );
            }     
    #menu.hidden {
        display: none;
        }  
    #menu-dismiss {
        display: none;
        }
        .show-menu #menu-dismiss {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            right: 400px;
            bottom: 0;
            }

/* --------------- MENU CONTENT -------------- */

#menu {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    }
    #menu-header {
        text-align: center;
        padding: 0;
        color: #000;
        font-size: 1.7em;
        font-weight: bold;
        background: #f6f6f6;
        border-bottom: 1px solid #a0a0a0;
        font-family: 'Lato-Light', Helvetica, Arial, sans-serif;
        }
    #menu-header h1{
        margin: .3em 0;
        }
    #menu-scroller {
        overflow: auto;
        -webkit-box-flex: 1;
        }   
    .collection-item {
        padding: .6em 1.5em;
        border-bottom: 1px solid #CCC;
        font-size: 1.5em;
        }


            
