RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^blog/(.*)$ /post.php?id=$1 [L]

# Block Browsing Git Directories
RedirectMatch 404 /\.git

# Old Blog Redirects
RedirectMatch permanent ^/blog/?$ http://www.terrill.ca/
RedirectMatch permanent ^/archives.php http://www.terrill.ca/
RedirectMatch permanent ^/contact.php http://www.terrill.ca/about/
RedirectMatch permanent ^/projects.php http://www.terrill.ca/projects/
RedirectMatch permanent ^/sorting/switching_table_rows.php http://www.terrill.ca/sorting/
RedirectMatch permanent ^/sorting/documentation.php http://www.terrill.ca/sorting/
RedirectMatch permanent ^/sorting/table_sort_example.php http://www.terrill.ca/sorting/
RedirectMatch permanent ^/posts/backgrounds/?$ http://www.terrill.ca/design/backgrounds/
RedirectMatch permanent ^/articles/html_resume/?$ http://www.terrill.ca/design/html_resume/
RedirectMatch permanent ^/posts/google_analytics.html http://www.terrill.ca/projects/
RedirectMatch permanent ^/posts/google_analytics.php http://www.terrill.ca/projects/

